.header {
    background-color: rgba(var(--color-principal-rgb), 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d016d', endColorstr='#0d016d', GradientType=1);
}

.navItems {
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
}

.navItem {
    display: inline-block;
    margin-right: 1rem;
}
